body {
  background-color: #01011d;
  background: -webkit-linear-gradient(
    to top right,
    #00002f,
    #001528,
    #040c54
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #00002f,
    #001528,
    #040c54
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: beige;
}

.bio {
  text-align: center;
  color: #dadad1;
  font-size: 18px;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  background-color: rgb(100, 240, 193);
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.waveButton:hover {
  filter: brightness(1.1);
  font-weight: 700;
  transition: all 300ms;
  padding: 10px;
  box-shadow: #363535 0px 4px 8px;
}

.connect {
  background-color: rgb(194, 57, 7);
  color: beige;
}
